<div   class="main-page">
  <div  class="announce">精品客房</div>
  <div class="room" nz-row >
<!--    <div  nz-col class="room-list" *ngFor="let item of dataList"  [nzXXl]="4" [nzLg]="4">-->
    <div  nz-col nzSpan="6" class="room-list" *ngFor="let item of dataList">
      <div class="item">
        <img [src]="'../../../../../assets/image/' + item?.image_url" alt="item"  width="220px" height="140px">
        <div class="title" [innerHtml]="item?.room_number + '号房间'"></div>
        <div class="button">
          <span [innerHtml]="'价格:'+ item?.money+'元'"></span>
          <span [innerHtml]="'大小:'+ item?.area+'㎡'"></span>
        </div>
      </div>
    </div>

  </div>
</div>
