:host{
  .layout-title{
    height: 100px;
    text-align: center;
    background-color: #1890FF;
    color: #ffffff;
    font-size: 21px;
    line-height: 100px;
    font-weight: bold;
  }
  .layout-footer{
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
  }
}
