<nz-layout nzTheme="light">
  <nz-header class="layout-title">
    <div class="title-icon"><img src="../../../assets/image/hawaii/hawaii-icon.png" height="500" width="500"/></div>
    <div (click)="returnMain()">欢 迎 您 光 临 <span class="title-nice">HAWAII 连 锁 酒 店</span></div>
  </nz-header>
  <nz-content style="background-color:#fff">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="layout-footer">
    @CopyRight  2020  GLC-group  HawaiiHotelManagementSystem
  </nz-footer>
</nz-layout>
